In [1]:
min(0,15)

0

In [4]:
import pandas as pd
import requests
import time
from datetime import date, datetime

from config import *

########################################
# Main function to download complaints
########################################
# Function to get complaints from NHTSA API
def get_complaints(make, model, model_year):
    # Construct the API URL
    url = f"https://api.nhtsa.gov/complaints/complaintsByVehicle?make={make}&model={model}&modelYear={model_year}"
    
    # Make the GET request to the NHTSA API
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        # Return the JSON response
        return response.json()['results']
    elif response.status_code == 400:
        return None
    else:
        # Return an error message
        return None

########################################
# Update Model Years
########################################
# Function to get all Model Years
def get_model_years():
    url = "https://api.nhtsa.gov/products/vehicle/modelYears?issueType=c"
    response = requests.get(url)
    if response.status_code == 200:
        return pd.DataFrame(response.json()['results'])
    else:
        return f"Error: {response.status_code}"


# Fetch model years
model_years = get_model_years()

# Save model years to database
db = pg_connect()
model_years.to_sql('model_years',db,index=False,if_exists='replace')

########################################
# Update Makes
########################################
# Function to get all Makes for the Model Year
def get_makes_for_year(year):
    url = f"https://api.nhtsa.gov/products/vehicle/makes?modelYear={year}&issueType=c"
    response = requests.get(url)
    if response.status_code == 200:
        return pd.DataFrame(response.json()['results'])
    else:
        return f"Error: {response.status_code}"

db = pg_connect()
if 'makes_for_year' in pg_tables():
    years = pg_query('select distinct "modelYear" from makes_for_year')['modelYear'].to_list()
else:
    years = []

for year in model_years[model_years['modelYear'].astype(int)>=2016]['modelYear']:
    if (year >= str(date.today().year)) | (year not in years):
        print(f'Downloading makes for year {year}')
        makes_for_year = get_makes_for_year(year)
        makes_for_year['updated_on'] = date.today()
        makes_for_year.to_sql('makes_for_year',db,index=False,if_exists='replace')

db.dispose()
# Remove duplicate rows from the table
pg_clean_table('makes_for_year')

########################################
# Update Models
########################################
# Function to get all Models for the Make and Model Year
def get_models_for_make_year(make, year):
    url = f"https://api.nhtsa.gov/products/vehicle/models?modelYear={year}&make={make}&issueType=c"
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()['results']
    else:
        return f"Error: {response.status_code}"
    
if 'models_for_make_year' in pg_tables():
    makes_for_year  = pg_query(""" 
    select distinct 
        "modelYear",
        make
    from makes_for_year 
    where "modelYear"::int >= EXTRACT(YEAR from CURRENT_DATE)::INT 
    and make||"modelYear" in (
        select make||"modelYear" from models_for_make_year
        where CURRENT_DATE - updated_on::Date >7
    )
        """)
else:
    makes_for_year  = pg_query(""" 
    select distinct 
        "modelYear",
        make
    from makes_for_year 
    where "modelYear"::int >= 2016
        """)

all_models = []
if len(makes_for_year) > 0:
    sample_size = min(500,len(makes_for_year))
    makes_for_year = makes_for_year.sample(sample_size)
    for _,row in makes_for_year.iterrows():
        print(f"Downloading {row['make']} {row['modelYear']} models")
        # Download models
        download = get_models_for_make_year(row['make'],str(row['modelYear']))
        # add to list
        print(download)
        all_models.extend(download)
        time.sleep(.5)
if len(all_models) > 0:
    df = pd.DataFrame(all_models)
    # Save to database
    db = pg_connect()
    df['updated_on'] = date.today()
    df.to_sql('models_for_make_year',db,index=False,if_exists='append')
    pg_clean_table('models_for_make_year')
########################################
# Update Complaints
########################################
def update_complaints(make_model_year):
    all_complaints = []
    for _,row in make_model_year.iterrows():
        print(f'Downloading data for {row['make']} {row['modelYear']} {row['model']}')
        complaints = get_complaints(row['make'],row['model'],row['modelYear'])
        if complaints:
            for c in complaints:
                c['make'] = row['make']
                c['model'] = row['model']
                c['modelYear'] = row['modelYear']
                c['products'] = json.dumps(c['products'])
                c['updated_on'] = date.today()
                all_complaints.append(c)
        time.sleep(.5)

    df = pd.DataFrame(all_complaints)
    df.to_pickle("all_complaints.pkl")

    db = pg_connect()
    # add data to database:
    df.to_sql('complaints',db,index=False,if_exists='append')
    pg_clean_table('complaints')

########################################
# Update Tesla
########################################
make_model_year = pg_query(""" 
select distinct
    models_for_make_year.make,models_for_make_year."modelYear",models_for_make_year.model
from models_for_make_year
join (select distinct make, model, "modelYear", updated_on from complaints) last_update
    on last_update.make = models_for_make_year.make
    and last_update.model = models_for_make_year.model
    and last_update."modelYear" = models_for_make_year."modelYear"
where models_for_make_year."modelYear" >= '2016'
and models_for_make_year.make ='TESLA'
""")

update_complaints(make_model_year)
print(f"Tesla data downloaded.")

########################################
# Update rest on random sample cadence
########################################
"""
We randomly sample make/model/modelYear data that has not been updated in the past week.
Each day this is run, 500 such combinations are updated
"""
make_model_year = pg_query(f""" 
select distinct
    models_for_make_year.make,models_for_make_year."modelYear",models_for_make_year.model
from models_for_make_year
join (select distinct make, model, "modelYear", updated_on from complaints) last_update
    on last_update.make = models_for_make_year.make
    and last_update.model = models_for_make_year.model
    and last_update."modelYear" = models_for_make_year."modelYear"
where models_for_make_year."modelYear"::int >= EXTRACT(YEAR from current_date) - 6
and (CURRENT_DATE - last_update.updated_on::Date) > 5
""")
sample_size = min(500,len(make_model_year))
make_model_year = make_model_year.sample(sample_size)
if len(make_model_year) > 0:
    update_complaints(make_model_year)
print(make_model_year)
print(f"Stale data randomly updated.")

for t in pg_tables():
    pg_clean_table(t)

pg_execute(""" 
DROP TABLE IF EXISTS complaints_backup
""")

pg_execute(""" 
CREATE TABLE complaints_backup AS
with tbl as (
select 
    *,
    rank() over (partition by complaints."odiNumber" order by updated_on desc) rnk
from complaints
order by updated_on desc
)
select distinct on ("odiNumber")
    "odiNumber",
    manufacturer,
    crash,
    fire,
    "numberOfInjuries",
    "numberOfDeaths",
    "dateOfIncident",
    "dateComplaintFiled",
    "vin",
    "components",
    "summary",
    "products",
    "make",
    "model",
    "modelYear",
    "updated_on"
from tbl where rnk = 1
""")

pg_execute(f"DELETE FROM complaints;")

pg_execute(f"INSERT INTO complaints SELECT * FROM complaints_backup;")
pg_execute(f"DROP TABLE complaints_backup;")
print(f"Stale data from complaints")

##########################
# Update car_sales
##########################
car_sales = pd.read_csv('car_sales.csv')
import re
car_sales['Automaker'] = car_sales.Automaker.apply(lambda x: re.sub(',$','',x).split(','))

complaints = []
for _,row in car_sales.iterrows():
    complain = 0
    for maker in row['Automaker']:
        c = pg_query(f""" 
select count(*) from complaints where make = '{maker}'
and "modelYear" = '{row['Year']}'
""")
        complain = complain + c['count'][0] 

    complaints.append(complain)

car_sales['complaints'] = complaints
car_sales['percentage'] = car_sales['complaints']/car_sales['Sold Autos']
car_sales = car_sales[car_sales['percentage']>0]

unparsed = []
for _,row in car_sales.iterrows():
    for make in row['Automaker']:
        unparsed.append({
            'parent': row['Umbrella'],
            'make': make,
            'modelYear': row['Year'],
            'parent_autos_sold': row['Sold Autos'],
            'world_rank': row['World Rank'],
            'parent_modelYear_complaints': row['complaints'],
            'parent_modelYear_percentage': row['percentage']
        })

df = pd.DataFrame(unparsed)
# Save to database
db = pg_connect()
df.to_sql('car_sales',db,index=False,if_exists='replace')
db.dispose()

pg_execute("""
UPDATE car_sales
SET make = REPLACE(make, 'MERCEDES BENZ', 'MERCEDES-BENZ')
WHERE make = 'MERCEDES BENZ';
""")

Downloading makes for year 2016
Downloading makes for year 2017
Downloading makes for year 2018
Downloading makes for year 2019
Downloading makes for year 2020
Downloading makes for year 2021
Downloading makes for year 2022
Downloading makes for year 2023
Downloading makes for year 2024
Downloading makes for year 9999
Duplicates removed from makes_for_year
Downloading data for TESLA 2019 MODEL 3
Downloading data for TESLA 2020 MODEL 3
Downloading data for TESLA 2020 MODEL Y
Downloading data for TESLA 2021 MODEL 3
Downloading data for TESLA 2021 MODEL S
Downloading data for TESLA 2022 MODEL 3
Downloading data for TESLA 2022 MODEL S
Downloading data for TESLA 2022 MODEL X
Downloading data for TESLA 2023 MODEL 3
Downloading data for TESLA 2024 CYBERTRUCK
Downloading data for TESLA 2024 MODEL Y
Duplicates removed from complaints
Tesla data downloaded.

TypeError: '<' not supported between instances of 'str' and 'int'

In [3]:
date.today().year - 6

2018

# NHTSA Complaints

### Method 1 - By Make, Model, & Model Year

In [2]:
import pandas as pd
import requests
import time
from datetime import date, datetime

from config import *

########################################
# Main function to download complaints
########################################
# Function to get complaints from NHTSA API
def get_complaints(make, model, model_year):
    # Construct the API URL
    url = f"https://api.nhtsa.gov/complaints/complaintsByVehicle?make={make}&model={model}&modelYear={model_year}"
    
    # Make the GET request to the NHTSA API
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        # Return the JSON response
        return response.json()['results']
    elif response.status_code == 400:
        return None
    else:
        # Return an error message
        return None

In [3]:

########################################
# Update Model Years
########################################
# Function to get all Model Years
def get_model_years():
    url = "https://api.nhtsa.gov/products/vehicle/modelYears?issueType=c"
    response = requests.get(url)
    if response.status_code == 200:
        return pd.DataFrame(response.json()['results'])
    else:
        return f"Error: {response.status_code}"


# Fetch model years
model_years = get_model_years()

# Save model years to database
db = pg_connect()
model_years['updated_on'] = date.today()
model_years.to_sql('model_years',db,index=False,if_exists='replace')
db.dispose()

In [18]:

########################################
# Update Makes
########################################
# Function to get all Makes for the Model Year
def get_makes_for_year(year):
    url = f"https://api.nhtsa.gov/products/vehicle/makes?modelYear={year}&issueType=c"
    response = requests.get(url)
    if response.status_code == 200:
        return pd.DataFrame(response.json()['results'])
    else:
        return f"Error: {response.status_code}"

model_years = pg_query(""" 
select
    *
from model_years
where "modelYear"::INT >= 2016
""")
model_years

db = pg_connect()
for year in model_years['modelYear']:
        print(f'Downloading makes for year {year}')
        makes_for_year = get_makes_for_year(year)
        makes_for_year.to_sql('makes_for_year',db,index=False,if_exists='append')

db.dispose()
# Remove duplicate rows from the table
pg_clean_table('makes_for_year')

Downloading makes for year 2016
Downloading makes for year 2017
Downloading makes for year 2018
Downloading makes for year 2019
Downloading makes for year 2020
Downloading makes for year 2021
Downloading makes for year 2022
Downloading makes for year 2023
Downloading makes for year 2024
Downloading makes for year 9999
Duplicates removed from makes_for_year

### Method 3: Model Year -> Makes -> Models

In [7]:
########################################
# Update Models
########################################
# Function to get all Models for the Make and Model Year
def get_models_for_make_year(make, year):
    url = f"https://api.nhtsa.gov/products/vehicle/models?modelYear={year}&make={make}&issueType=c"
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()['results']
    else:
        return f"Error: {response.status_code}"
    
if 'models_for_make_year' in pg_tables():
    makes_for_year  = pg_query(""" 
    select distinct 
        "modelYear",
        make
    from makes_for_year 
    where "modelYear"::int >= EXTRACT(YEAR from CURRENT_DATE)::INT 
    and make||"modelYear" in (
        select make||"modelYear" from models_for_make_year
        where CURRENT_DATE - updated_on::Date >7
    )
        """)
else:
    makes_for_year  = pg_query(""" 
    select distinct 
        "modelYear",
        make
    from makes_for_year 
    where "modelYear"::int >= 2016
        """)

all_models = []
if len(makes_for_year) > 0:
    makes_for_year = makes_for_year.sample(500)
    for _,row in makes_for_year.iterrows():
        print(f"Downloading {row['make']} {row['modelYear']} models")
        # Download models
        download = get_models_for_make_year(row['make'],str(row['modelYear']))
        # add to list
        print(download)
        all_models.extend(download)
        time.sleep(.5)
if len(all_models) > 0:
    df = pd.DataFrame(all_models)
    # Save to database
    db = pg_connect()
    df['updated_on'] = date.today()
    df.to_sql('models_for_make_year',db,index=False,if_exists='append')
    pg_clean_table('models_for_make_year')

In [3]:
make_model_year

        make modelYear           model
0       AUDI      2019              A3
1       AUDI      2019              A4
2       AUDI      2020            Q5 E
3       AUDI      2020              R8
4       AUDI      2021            Q5 E
5       AUDI      2022              Q4
6       AUDI      2023              Q4
7       AUDI      2023            Q5 E
8       AUDI      2024              Q4
9   CHRYSLER      2023        PACIFICA
10      FORD      2022          ESCAPE
11     HONDA      2023            CR-V
12   HYUNDAI      2020           VENUE
13   HYUNDAI      2022        SANTA FE
14      JEEP      2022  GRAND CHEROKEE
15       RAM      2021            3500
16    SUBARU      2024         OUTBACK

In [23]:
# Function to get all Models for the Make and Model Year
def get_models_for_make_year(make, year):
    url = f"https://api.nhtsa.gov/products/vehicle/models?modelYear={year}&make={make}&issueType=c"
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()['results']
    else:
        return f"Error: {response.status_code}"

# Download complaints
Now we use the `get_complaints` method we defined in the beginning of this script to download complaints for each make/model/year. We start with the priority download list.

In [43]:
make_model_year = pg_query(""" 
select 
    models_for_make_year.*,
    last_update.updated_on
from models_for_make_year
join (select distinct make, model, "modelYear", updated_on from complaints) last_update
    on last_update.make = models_for_make_year.make
    and last_update.model = models_for_make_year.model
    and last_update."modelYear" = models_for_make_year."modelYear"
where models_for_make_year."modelYear" >= '2016'
and models_for_make_year.make ='TESLA'
""")
make_model_year

   modelYear   make       model  updated_on
0       2024  TESLA  CYBERTRUCK  2024-03-21
1       2019  TESLA     MODEL 3  2024-03-21
2       2020  TESLA     MODEL 3  2024-03-21
3       2021  TESLA     MODEL 3  2024-03-21
4       2022  TESLA     MODEL 3  2024-03-21
5       2023  TESLA     MODEL 3  2024-03-21
6       2021  TESLA     MODEL S  2024-03-21
7       2022  TESLA     MODEL S  2024-03-21
8       2022  TESLA     MODEL X  2024-03-21
9       2020  TESLA     MODEL Y  2024-03-21
10      2024  TESLA     MODEL Y  2024-03-21

In [44]:
def update_complaints(make_model_year):
    all_complaints = []
    for _,row in make_model_year.iterrows():
        print(f'Downloading data for {row['make']} {row['modelYear']} {row['model']}')
        complaints = get_complaints(row['make'],row['model'],row['modelYear'])
        if complaints:
            for c in complaints:
                c['make'] = row['make']
                c['model'] = row['model']
                c['modelYear'] = row['modelYear']
                c['products'] = json.dumps(c['products'])
                c['updated_on'] = date.today()
                all_complaints.append(c)
        time.sleep(.5)

    df = pd.DataFrame(all_complaints)
    df.to_pickle("all_complaints.pkl")

    db = pg_connect()
    # add data to database:
    df.to_sql('complaints',db,index=False,if_exists='append')
    pg_clean_table('complaints')

In [45]:
make_model_year = pg_query(""" 
select 
    models_for_make_year.*,
    last_update.updated_on
from models_for_make_year
join (select distinct make, model, "modelYear", updated_on from complaints) last_update
    on last_update.make = models_for_make_year.make
    and last_update.model = models_for_make_year.model
    and last_update."modelYear" = models_for_make_year."modelYear"
where models_for_make_year."modelYear" >= '2016'
and models_for_make_year.make ='TESLA'
""")

update_complaints(make_model_year)

Duplicates removed from complaints

In [61]:
make_model_year = pg_query(""" 
select 
    models_for_make_year.*,
    last_update.updated_on
from models_for_make_year
join (select distinct make, model, "modelYear", updated_on from complaints) last_update
    on last_update.make = models_for_make_year.make
    and last_update.model = models_for_make_year.model
    and last_update."modelYear" = models_for_make_year."modelYear"
where models_for_make_year."modelYear" >= '2016'
--and CURRENT_DATE - last_update.updated_on::Date > 7
""")

current_update = make_model_year.sample(500)

In [65]:
make_model_year.sample(500)

     modelYear         make            model  updated_on
1260      2021       INDIAN     SCOUT BOBBER  2024-03-21
1185      2022      GENESIS              G70  2024-03-21
1907      2022       TOYOTA           TUNDRA  2024-03-21
579       2019      TRIUMPH   TIGER 1200 XRX  2024-03-21
1759      2021  GULF STREAM  VINTAGE CRUISER  2024-03-21
...        ...          ...              ...         ...
1532      2023        ACURA              RDX  2024-03-21
2039      2023     KAWASAKI            ZX-6R  2024-03-21
521       2021    CHEVROLET         CORVETTE  2024-03-21
1871      2021         AUDI               A8  2024-03-21
449       2019      GENESIS              G70  2024-03-21

[500 rows x 4 columns]

In [5]:
car_sales = pd.read_csv('car_sales.csv')
import re
car_sales['Automaker'] = car_sales.Automaker.apply(lambda x: re.sub(',$','',x).split(','))

complaints = []
for _,row in car_sales.iterrows():
    complain = 0
    for maker in row['Automaker']:
        c = pg_query(f""" 
select count(*) from complaints where make = '{maker}'
and "modelYear" = '{row['Year']}'
""")
        complain = complain + c['count'][0] 

    complaints.append(complain)

car_sales['complaints'] = complaints
car_sales['percentage'] = car_sales['complaints']/car_sales['Sold Autos']
car_sales = car_sales[car_sales['percentage']>0]

unparsed = []
for _,row in car_sales.iterrows():
    for make in row['Automaker']:
        unparsed.append({
            'parent': row['Umbrella'],
            'make': make,
            'modelYear': row['Year'],
            'parent_autos_sold': row['Sold Autos'],
            'world_rank': row['World Rank'],
            'parent_modelYear_complaints': row['complaints'],
            'parent_modelYear_percentage': row['percentage']
        })

df = pd.DataFrame(unparsed)
# Save to database
db = pg_connect()
df.to_sql('car_sales',db,index=False,if_exists='replace')
db.dispose()

In [6]:
car_sales

,Automaker,Umbrella,Year,Sold Autos,Status,World Rank,complaints,percentage
0,"[TOYOTA, LEXUS, HINO]",Toyota,2023,10307395,↑ 8%,1,431,0.000042
1,"[TOYOTA, LEXUS, HINO]",Toyota,2022,9566961,↑ 1%,1,558,0.000058
2,"[TOYOTA, LEXUS, HINO]",Toyota,2021,9562483,↑ 1%,1,856,0.000090
3,"[VOLKSWAGEN, AUDI, BENTLEY, LAMBORGHINI, DUCAT...",Volkswagen,2023,9239575,↑ 12%,2,251,0.000027
4,"[VOLKSWAGEN, AUDI, BENTLEY, LAMBORGHINI, DUCAT...",Volkswagen,2022,8263104,↓ 7%,2,519,0.000063
5,"[VOLKSWAGEN, AUDI, BENTLEY, LAMBORGHINI, DUCAT...",Volkswagen,2021,8882346,↓ 5%,2,844,0.000095
6,"[HYUNDAI, HYUNDAI TRANSLEAD, KIA, KIA MOTOR]",Hyundai,2023,7302451,↑ 7%,3,999,0.000137
7,"[HYUNDAI, HYUNDAI TRANSLEAD, KIA, KIA MOTOR]",Hyundai,2022,6848198,↑ 3%,3,1560,0.000228
8,"[HYUNDAI, HYUNDAI TRANSLEAD, KIA, KIA MOTOR]",Hyundai,2021,6668037,↑ 5%,3,1102,0.000165
9,"[ALFA ROMEO, CHRYSLER, DODGE, FIAT, JEEP, MASE...",Stellantis,2023,6392600,↑ 6%,4,300,0.000047
10,"[ALFA ROMEO, CHRYSLER, DODGE, FIAT, JEEP, MASE...",Stellantis,2022,6002900,↓ 2%,4,881,0.000147
11,"[ALFA ROMEO, CHRYSLER, DODGE, FIAT, JEEP, MASE...",Stellantis,2021,6142200,↓ 1%,5,1904,0.000310
12,"[GMC, BUICK, CADILLAC, CHEVROLET]",General Motors,2023,6188476,↑ 4%,5,468,0.000076
13,"[GMC, BUICK, CADILLAC, CHEVROLET]",General Motors,2022,5941737,↓ 6%,5,657,0.000111
14,"[GMC, BUICK, CADILLAC, CHEVROLET]",General Motors,2021,6294385,↓ 8%,4,1081,0.000172
15,"[FORD, LINCOLN]",Ford,2023,4413545,↑ 4%,6,334,0.000076
16,"[FORD, LINCOLN]",Ford,2022,4235737,↑ 7%,6,1014,0.000239
17,"[FORD, LINCOLN]",Ford,2021,3942755,↓ 7%,8,1071,0.000272
18,"[HONDA, ACURA]",HONDA,2023,4188039,↑ 8%,7,1169,0.000279
19,"[HONDA, ACURA]",HONDA,2022,4074372,↓ 9%,7,1115,0.000274
20,"[HONDA, ACURA]",HONDA,2021,4456728,↓ 6%,6,837,0.000188
21,"[NISSAN, INFINITI]",Nissan,2023,3374271,↑ 5%,8,244,0.000072
22,"[NISSAN, INFINITI]",Nissan,2022,3225478,↓ 21%,8,309,0.000096
23,"[NISSAN, INFINITI]",Nissan,2021,4064999,↑ 1%,7,349,0.000086
24,"[BMW, MINI, ROLLS-ROYCE]",BMW,2023,2555341,↑ 7%,9,76,0.000030
25,"[BMW, MINI, ROLLS-ROYCE]",BMW,2022,2399636,↓ 5%,10,124,0.000052
26,"[BMW, MINI, ROLLS-ROYCE]",BMW,2021,2521596,↑ 8%,10,121,0.000048
27,"[MERCEDES-MAYBACH, MERCEDES-BENZ, MERCEDES BENZ]",Mercedez-Benz,2023,2493177,↑ 2%,11,10,0.000004
28,"[MERCEDES-MAYBACH, MERCEDES-BENZ, MERCEDES BENZ]",Mercedez-Benz,2022,2456063,↑ 5%,9,4,0.000002
29,"[MERCEDES-MAYBACH, MERCEDES-BENZ, MERCEDES BENZ]",Mercedez-Benz,2021,2330169,↓ 5%,11,13,0.000006
30,[TESLA],Tesla,2023,1808581,↑ 32%,14,258,0.000143
31,[TESLA],Tesla,2022,1369611,↑ 47%,15,791,0.000578
32,[TESLA],Tesla,2021,930422,↑ 83%,18,668,0.000718
33,"[LOTUS, VOLVO, SMART]",Geely,2023,1686516,↑ 18%,15,2,0.000001
34,"[LOTUS, VOLVO, SMART]",Geely,2022,1432988,↑ 8%,14,2,0.000001
35,"[LOTUS, VOLVO, SMART]",Geely,2021,1328029,↑ 1%,14,2,0.000002

In [3]:
car_sales = pd.read_csv('car_sales.csv')
import re
car_sales['Automaker'] = car_sales.Automaker.apply(lambda x: re.sub(',$','',x).split(','))

complaints = []
for _,row in car_sales.iterrows():
    complain = 0
    for maker in row['Automaker']:
        c = pg_query(f""" 
select count(*) from complaints where make = '{maker}'
and "modelYear" = '{row['Year']}'
""")
        complain = complain + c['count'][0] 

    complaints.append(complain)

car_sales['complaints'] = complaints
car_sales['percentage'] = car_sales['complaints']/car_sales['Sold Autos']
car_sales = car_sales[car_sales['percentage']>0]

unparsed = []
for _,row in car_sales.iterrows():
    for make in row['Automaker']:
        unparsed.append({
            'parent': row['Umbrella'],
            'make': make,
            'modelYear': row['Year'],
            'parent_autos_sold': row['Sold Autos'],
            'world_rank': row['World Rank'],
            'parent_modelYear_complaints': row['complaints'],
            'parent_modelYear_percentage': row['percentage']
        })

df = pd.DataFrame(unparsed)
# Save to database
db = pg_connect()
df.to_sql('car_sales',db,index=False,if_exists='replace')
db.dispose()

pg_execute("""
UPDATE car_sales
SET make = REPLACE(make, 'MERCEDES BENZ', 'MERCEDES-BENZ')
WHERE make = 'MERCEDES BENZ';
""")

'done'